@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*#e3eae3 tom muito fraco, #d0fdd7 tom fraco claro, #9bfab0 tom medio,  #54c27b tom forte , #2a8c4a tom muito forte*/

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

main{
    flex: 1;
    height: 80vh;
}

body {
    background-color:#169939;
    height: 100%;

}

h2{
    font-size: 20px;
}

section{
    padding: 10px 5%;
}

.modal-content .remove-item{
    border-radius: 50%;
    font-size: large;
}

#openModalBtn,
.openModalBtn{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9bfab0 ;
    border-radius: 18px;
    padding: 15px 15px;
    font-weight: 600;
    font-size: large;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    cursor: pointer;
}

@media screen and (max-width: 500px){
    #openModalBtn,
    .openModalBtn{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9bfab0 ;
    border-radius: 18px;
    padding: 12px 12px;
    font-weight: 700;
    font-size: 14px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    cursor: pointer;
    width: 50%;
    height: auto;
    margin-left: 10vw;
    }

    #nav_bar img{
        width: 100px;
    }

    #nav_bar{
        display: flex;
    }
}

.add-to-cart{
    border: none;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #9bfab0 ;
    border-radius: 18px;
    padding: 15px 15px;
    font-weight: 600;
    font-size: large;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    cursor: pointer;
}

.add-to-cart p{
    align-items: center;
    margin-left: 10px ;
    color: #000;
}


#openModalBtn:hover,
.openModalBtn:hover,
.add-to-cart:hover{
    background-color: #54c27b ;
}

.buy {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9bfab0 ;
    border-radius: 18px;
    padding: 12px 13px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: medium;
}

.buy:hover{
    background-color: #54c27b;
}

.section_title {
    color: #e3eae3;
    font-size: 2rem;
}

.section_subtitle{
    font-size: 1.6rem ;
}

/* header */

header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: #169939;
    z-index: 3;
}
section img{
    width: 100%;
}

header nav img{
    width: 150px;
}

#nav_bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 24px;
    color: #e3eae3;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 1.3rem;
}

.nav_item a {
    text-decoration: none;
    color: #e3eae3;
    font-weight: 510;
}

/* modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #e3eae3;
    margin: 17% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px; 
}

.modal-content a{
    text-decoration: none;
    color: #000;
}

.modal-content h2{
    font-size: xx-large;
    margin: 2vh;
}

.modal-content p{
    font-size: large;
    margin: 2vh;
    margin-top: 3vh;
    color: #000;
}

.modal-content ul{
    margin: 2vh;
    margin-top: 3vh;
    font-size: large;
}

.modal-content button{
    width: 2rem;
    height: 2rem;
    background-color: #4CAF50;
    color: #000;
    border: none;
    margin: 2px;
}

.modal-content button:hover{
    background-color: #169939;
    cursor: pointer;
}


.modal-content .buy_btn{
    background-color: #4CAF50;
    width: 10rem;
    height: 3rem;
    border: none;
    font-size: medium;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

/* Botão de fechar (X) */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border-radius: 50%;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#mobile_btn{
    display: none;
}

#mobile_menu{
    display: none;
}

@media screen and (max-width: 1000px){
    #nav_list,
    #nav_bar .modal{
        display: none;
    }

    #mobile_btn{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 2rem;
        cursor: pointer;
    }

    #mobile_menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
    #mobile_nav_list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 50%;
        height: 50%;
    }

    #mobile_nav_list .nav_item{
        list-style: none;
        text-align: center;
        margin-top: 20px;
        background-color: #127334;
        width: 100%;
        padding: 15px;
        height: 50%;
    }

    #mobile_menu .nav_item a {
        text-decoration: none;
        color: #e3eae3;
        font-weight: 600;
        font-size: 1.4rem;
    }
}

/* home */

#home{
    display: flex;
    height: auto;
    position: relative;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 0vh;
}

#cta .title{
    font-size: 4rem;
    color: #1d1d1d;
    font-size: 7rem;
    padding: 2%;
}

#cta .title span{
    color: #e3eae3;
}

#cta .description{
    font-size: 1.8rem;
    color:#e3eae3;
    padding: 2%;
}

#cta_buttons{
    display: flex;
    gap: 24px;
    padding: 2%;
}

#cta_buttons a{
    text-decoration: none;
    color:#1d1d1d;
    font-size: 1.2rem;
}
#cta_buttons #phone_button{
    text-align: center;
    border-radius: 18px;
    background-color: #9bfab0;
    font-weight: 700;
    height: 50px;
    display:flex;
    gap: 8px;
    align-items: center;
    padding: 8px 14px;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
    border-radius: 18x;
}

#cta_buttons #phone_button:hover{
    border-radius: 18px;
    background-color: #54c27b;
}


#phone_button button{
    box-shadow: none;
}

.btn-default:hover{
    background-color: #54c27b;
}

.social_media_btn {
    display: flex;
    gap: 50px;
    padding: 3%;
}

.social_media_btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    background-color: #e3eae3;
    font-size: 1.6rem;
    border-radius: 18px;
    text-decoration: none;
    color: #1d1d1d;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
    gap: 10px;
}



.social_media_btn a:hover{
    box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.1);
}

@media screen and (max-width: 1100px){
    #home{
        min-width: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img,
    #home .shape{
        display: none;

    }

    #cta{
        width: 100%;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    #cta_buttons{
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

}
@media screen and (max-width: 450px){

    #cta_buttons{
        align-items: center;
        justify-content: center;
    }

}

/* menu */

#menu {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 0px;
}

.menu_items{
    display: flex;
    height: 100vh;
    align-items: center;
    overflow: hidden;
    width: 100%;
    position: relative;
    justify-content:space-evenly;
}

.menu_item{
    display: flex;
    height: auto;
    align-items: center;
    justify-content:center;
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    align-items: center;
    justify-content:center;
    transition: transform 0.5s ease;
    gap: 0px;
}


.products {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 60%;
    margin-top: 6px;
    margin-bottom: 6px;
    min-width: 40%; /* Mostra 2 itens por vez */
    padding: 10px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 65%;
    padding: 15px;
    background-color: #e3eae3;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
}

.product_values{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.product_price{
    font-size: 2.9vh;
    margin-bottom: 1.8vh;
}

.parcelado{
    font-size: 2.3vh;
}

.product img{
    border-radius: 20px;
    width: 50vh;
}

.product_rate{
    font-size: 0.7rem;
}

.product i, p{
    font-size: 0.9rem;
    color: #000;
}

#prevNext_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.prevNext_btn{
    height: 40px;
    width: 40px;
    border: none;
    border-radius:100%;
    background-color: #f7f7f7;
    font-size:x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    margin-top: 2rem;
}

.buyItem{
    display: flex;
    align-items: center;
    gap: 3vh;
}

.buyItem a{
    text-decoration: none;
    color: #000;
}

.buyitem p{
    color: #000;
    
}

@media screen and (max-width: 1100px){
    .menu_items{
        display: flex;
        height: auto;
        align-items: center;
        overflow: hidden;
        width: 100%;
        position: relative;
    }

    .product img{
        border-radius: 20px;
        width: 40vh;
    }

    .products {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        min-width: 40%;
    }

    .buyItem{
        display:grid;
    }
    .product_description{
        display: none;
    }

}

@media screen and (max-width: 500px){
    .product_price h4{
        font-size: large;
    }

    .product{
        width: 90%;
    }

    .menu_items{
        margin-top: 5px;
        margin-bottom: 1px;
        display: flex;
        height: 60vh;
        align-items: center;
        overflow: hidden;
        width: 100%;
        position: relative;
    }


    .product_description{
        display: none;
    }

    .product_description{
        display: none;
    }

    .section_subtitle{
        text-align: center;
    }

    .product img{
        border-radius: 20px;
        width: 20vh;
    }

    .products {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        min-width: 30%;
    }

    .buyItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80%;
        gap: 2vh;
    }

    .buyItem span, button, p{
        font-size: 0.7rem;
        width: 100%;
        height: 30px;
        gap: 1vh;
    }
}

@media screen and (max-width: 350px){
    .product_description{
        display: none;
    }

    .section_subtitle{
        text-align: center;
    }

    .products {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        min-width: 20%;
    }

    .product img{
        border-radius: 20px;
        width: 20vh;
    }

    .product{
        width: 100%;
    }

    .product_price h4{
        font-size: 0.8rem;
    }

}


/* about */

#about{
    margin-top: 2rem;
    background-color: #127334 ;
    padding: 1rem;
    height:auto;
}

#about_us{
    height: auto;
    width: 94%;
    margin:2rem;
    margin-bottom: 1.2rem;
    gap: 1rem;
    text-align: justify;
    padding-right: 2rem ;
}

#about_us h1{
    font-size: 4rem;
    color: #e3eae3;
    margin-left: 1.5rem;
}

#about_us p{
    font-size: 1.2rem;
    color: #e3eae3;
    margin-left: 1.5rem;
}

#about_us button{
    margin-left: 1.5rem;
    background-color: #54c27b; 
    color: white;
    width: 15vw;
}

#conteudoOculto.mostrar {
    max-height: 500px;
    margin-top: 200px; /* Ajuste este valor conforme o tamanho do conteúdo */
}

.contSect{
    display: flex;
    flex-direction: column;
    height: auto;
}
#leiaMaisAbout{
    display: none;
}

@media screen and (max-width: 500px) {

    #leiaMaisAbout{
        display: block;
    }

    #about_us h1 {
        font-size: 3rem;
        color: #e3eae3;
        margin-left: 0;
        text-align: center;
        margin-right: 1rem;
    }

    #about_us p {
        font-size: 1.1rem;
        color: #e3eae3;
        margin-right: 0.8rem;
        margin-left: 0;
    }

    #about_us button {
        background-color: #54c27b;
        color: white;
        margin: 1px;
    }

    .space_cont_oculto{
        margin-top: 300px;

    }

    .contSect{
        font-size: 10px;
    }

    #conteudoOculto{
        margin-top: 200px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }

}



/* footer */
footer{
    width: 100%;
    color: #e3eae3;
}

.footer_link{
    text-decoration: none;
}

#footer_content{
   background-color: #2a8c4a; 
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   padding: 2rem 3.5rem;
   z-index: -2;
   height: 200px;
}

#footer_contacts h1{
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
}

#footer_social_media{
    display: flex;
    margin-top: 1.2rem;
    font-size: 2rem;
    gap: 20px;
}
#footer_social_media a:hover{
    color: #9bfab0;
}

#footer_social_media .footer_link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e3eae3;
    border-radius: 50%;
}

.footer_list{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
}

.footer_list .footer_link{
    color:#e3eae3;
}

.footer_list .footer_link:hover{
    color: #9bfab0;
}

#footer_copyright {
    display: flex;
    background-color: #2a8c4a;
    color: #e3eae3;
    padding: 0.9rem;
    font-weight: 300;
    height: 50px;
    margin-top: 0px;
}
#footer_copyright p{
    margin-left: 2.6rem;
}

@media screen and (max-width: 800px){
    #footer_content{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
        height: auto;
    }
    #footer_copyright {
        height: 20px;
        margin-top: 0px;
        align-items: end;
    }
}

@media screen and (max-width: 450px){
    #footer_content{
        grid-template-columns: repeat(1,1fr);
        gap: 3rem 2rem;
        height: 300px;
        
    }

    #footer_copyright {
        height: 100px;
        margin-top: 0px;
        align-items: end;
    }
}

/* infos & forms */

#infos_forms{

    display: flex;
    background-color: #54c27b;
}

/* pagina de produto*/

#infos_page{
    display: flex;
    width: 50%;
    background-color: #54c27b;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin-top: 15px;
}

#desc_prod{
    margin-top: 75px;
    margin: 10px;
    background-color: #fcf8e2;
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    height: 80%;
}

.margin-desc{
    text-align: left;
    margin-top: 20px;
}

.margin-desc h3{
    font-size: x-large;
}

#infos_page h2{
    margin-top: 40px;
    font-size: x-large;
    text-align: center;
}

#infos_page p{
    margin-top: 20px;
    font-size: large;
    color: #000;
    text-align: left;
}


#infos_page img{
    height: 50%;
    width: 100%;
}

#leiaMaisBtn{
    border: none;
    width: 40%;
    height: 2.5rem;
    background-color: #127334;
    color: #e3eae3;
    font-size: 120%;
    font-weight: 500;
    cursor: pointer;
    border-radius: 20px;
}

iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
}

#form_section{
    width: 50%;
    height: 100%;
    display: grid;
    background-color: #304733;
    overflow:hidden;
    padding: 0;
}

#form_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1200px;
    margin: 5px;
}


/* infos e forms MOBILE */

@media screen and (max-width: 1000px){
    #infos_forms{
        display: block;
        background-color: #54c27b;
        width: 100%;
    }

    #infos_page{
        width: 100%;
        height: 100%;
    }

    #form_section{
        width: 100%;
        height: 100%;
        display: flex;
        background-color: #304733;
        justify-content: center;
        justify-items: center;
    }

    iframe {
        width: 500px;
        height: 100%;
        margin: 0;
        padding: 0px;
    }

    #leiaMaisBtn{
        font-size: 110%;
    }

}

@media screen and (max-width: 500px){ 
    iframe {
        width: 380px;
        height: 100%;
        margin: 0;
        padding: 0px;
    }

    #infos_page{
        width: 100%;
        height:100%;
    }

    #desc_prod{
        margin-top: 75px;
        margin: 10px;
        background-color: #fcf8e2;
        padding: 20px;
        border-radius: 20px;
        width: 90%;
        max-height: 1500px;
        height: auto;
    }
/*
    #cont_ocult{
        display: none;
    }
*/
    #form_container{
        height: 1150px;
    }

    #leiaMaisBtn{
        font-size: 100%
    }

}
